/* Based on project web */

* {
    box-sizing: border-box;
}

:root {
    /* Color */
    --primary-color: #ff5b2e;
    --primary-text-color: #000958;
    --primary-text-color-blur: rgba(0, 9, 88, 0.7);
    --primary-text-color-desc: #656689;
    --primary-text-section-label: #5e6085;
    --primary-bg-color: #fffaf5;

    /* Font */
    --primary-font: "Poppins", sans-serif;
    --heading-font: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    background: var(--primary-bg-color);
}

/* Common class */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);

    /* Text */
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 999px;
    border: 1px solid var(--primary-text-color-blur);
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.primary--heading {
    color: var(--primary-text-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.primary--desc {
    color: var(--primary-text-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.section--heading {
    color: var(--primary-text-color);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section--desc {
    margin-top: 24px;
    color: var(--primary-text-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

/* Header */
.header {
    padding: 26px 0 8px;
}

.header--fixed {
    position: sticky;
    top: -18px;
    left: 0;
    z-index: 999;
    background: var(--primary-bg-color);
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar__list {
    display: flex;
    align-items: center;
}

.header__navbar__link,
.header__action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    line-height: 1;
}

.header__navbar__link:hover,
.header__action__link:hover {
    color: var(--primary-text-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__action__btn {
    --height: 50px;

    min-width: 118px;
    height: var(--height);
}

/* Hero */
.hero {
    margin-top: 92px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
}

.hero__img--wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor.bottom {
    left: -58px;
    bottom: 10px;
}

.hero__decor.top {
    top: 16px;
    right: -43px;
}

.hero__img--wrap--small {
    margin-left: -24px;
    margin-bottom: -58px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    align-self: flex-end;
    border: 2px solid #f7dddf;
}

.hero__list {
    /* Position */
    position: absolute;
    left: 129px;
    bottom: 0;

    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__list__item {
    display: flex;
    align-items: center;
}

.hero__list__item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero__list__item__info {
    margin-left: 10px;
}

.hero__list__item__title {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list__item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background-color: var(--primary-text-color);
    opacity: 0.08;
    border-radius: 10px;
}

.hero__list__horizontal {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 999px;
}

.hero__list__item__thumb.bg--color-c6e2f3 {
    background: #c6e2f3;
}

.hero__content {
    margin-left: 120px;
}

.hero__content__heading {
    width: 517px;
}

.hero__content__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__content__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__content__btn {
    --height: 60px;
    min-width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__content__icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px #bf290066;
    border-radius: 50%;
}

.hero__content__arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hero__content__link {
    margin-left: 24px;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* About */
.about {
    margin-top: calc(138px - 61px);
    padding-top: 61px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: var(--primary-text-section-label);
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__content__heading {
    width: 446px;
    margin-top: 15px;
}

.about__content__desc {
    width: 431px;
}

.about__check__list {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    gap: 36px;
    justify-content: flex-start;
}

.about__check__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    transition: box-shadow 0.25s;
}

.about__check__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    transition: box-shadow 0.25s;
}

.about__check__item:hover::before {
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check__item::after {
    content: url(../img/about-check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card__title {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card__desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__card__img {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__wrap--bottom::after {
    content: none;
}

.about__wrap--bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img--bottom {
    width: 100%;
}

.about__decor__img {
    position: absolute;
}

.about__decor__img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor__img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor__img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor__img:nth-child(4) {
    top: 268px;
    right: -36px;
    /* total right = decor width + spacing + border (3) = 23 + 10 + 3 = 36 => -36px */
}

.about__decor__img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor__img:nth-child(6) {
    bottom: -54px;
    right: -42px;
}

.about__content__desc--bottom {
    width: 511px;
    margin-bottom: 52px;
}

.tab__list,
.tab__item {
    display: flex;
    align-items: center;
}

.tab__list {
    display: inline-flex;
    position: relative;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content__item__more::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background: var(--primary-color);
    border-radius: 99px;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 18px;
}

.tab__title {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content {
    padding: 36px 0;
}

.tab__content__item {
    display: none;
}

.tab__content__item--active {
    display: block;
}

.tab__content__item__desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content__item__more {
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content__item__more::after {
    opacity: 1;
}

/* Services */
.services {
    padding: 68px 0 100px;
    margin-top: 190px;
    background: #fff6ed;
}

.services__top {
    text-align: center;
}

.services__desc {
    color: var(--primary-text-section-label);
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.services__heading {
    margin-top: 15px;
}

.services__item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__item + .services__item {
    margin-top: 24px;
}

.services__item__heading {
    position: relative;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    padding-left: 12px;
}

.services__item__heading::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__item__desc {
    margin-top: 18px;
    color: var(--primary-text-color-desc);
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.services__item__link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.servces__item__span {
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.services__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 70px;
}

.services__media {
    position: relative;
    margin-top: 18px;
}

.services__media::after {
    content: "";
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__col__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.services__btn__wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.services__btn {
    min-width: 214px;
    color: var(--primary-color);
    border-color: currentColor;
    transition: box-shadow 0.25s;
}

.services__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Team */
.team {
    padding: 130px 0;
}

.team__item {
    text-align: center;
}

.team__top__desc,
.team__top__heading {
    text-align: center;
}

.team__top__desc {
    color: var(--primary-text-section-label);
    font-family: var(--heading-font);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.team__top__heading {
    margin-top: 15px;
}

.team__list {
    margin-top: 45px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 35px;
}

.team__item__img__wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.team__item__img__wrap::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 266px;
    border-radius: inherit;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.team__item__img__wrap::after {
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 0;
}

.team__item:nth-child(2) .team__item__img__wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.team__item:nth-child(3) .team__item__img__wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.team__item:nth-child(4) .team__item__img__wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.team__item:nth-child(1) .team__item__img__wrap::after {
    content: url(../img/team-decor-1.svg);
}

.team__item:nth-child(2) .team__item__img__wrap::after {
    content: url(../img/team-decor-2.svg);
}

.team__item:nth-child(3) .team__item__img__wrap::after {
    content: url(../img/team-decor-3.svg);
}

.team__item:nth-child(4) .team__item__img__wrap::after {
    content: url(../img/team-decor-4.svg);
}

.team__item:nth-child(even) .team__item__img__wrap::after {
    bottom: initial;
    top: 19px;
}

.team__item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    display: block;
    border-radius: inherit;
}

.team__item__title {
    margin-top: 34px;
    color: var(--primary-text-color-desc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.team__item__name {
    margin-top: 14px;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
}

.team__cta__wrap {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.team__cta__btn {
    min-width: 193px;
    color: var(--primary-color);
    border-color: currentColor;
    transition: box-shadow 0.25s;
}

.team__cta__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background: #fff6ed;
}

.pricing__top__heading,
.pricing__top__desc {
    text-align: center;
}

.pricing__top__desc {
    margin: 24px auto 0;
    width: 709px;
}

.pricing__switch__wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch__label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border: 1px solid #ff5b2e99;
    border-radius: 999px;
    cursor: pointer;
    user-select: none;
}

.pricing__switch__label::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    top: 0;
    left: 0;
    width: 140px;
    height: 56px;
    border-radius: inherit;
    transition: 0.25s;
}

.pricing__switch__span {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    line-height: 1;
    color: #fff;
}

.pricing__switch__input:checked + .pricing__switch__label::before {
    left: calc(50% + 9px);
    width: 131px;
}

.pricing__switch__input:not(:checked)
    + .pricing__switch__label
    .pricing__switch__span--yearly {
    color: var(--primary-color);
}

.pricing__switch__input:checked
    + .pricing__switch__label
    .pricing__switch__span--monthly {
    color: var(--primary-color);
}

.pricing__switch__inner {
    position: relative;
}

.pricing__selloff {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__bottom {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 44px;
}

.pricing__bottom__card {
    padding: 30px 28px 43px;
    width: 302px;
    border-radius: 20px;
    background: #fff;
    transition: box-shadow 0.25s;
}

.pricing__bottom__card:hover {
    box-shadow: 0px 20px 44px 0px rgba(195, 108, 22, 0.06);
}

.pricing__bottom__card:nth-child(1) .pricing__card__item:nth-child(5):before,
.pricing__bottom__card:nth-child(2) .pricing__card__item:nth-child(5):before {
    content: url(../img/pricing-not-check.svg);
}

.pricing__bottom__card:nth-child(1) .pricing__card__item:nth-child(6):before,
.pricing__bottom__card:nth-child(2) .pricing__card__item:nth-child(6):before {
    content: url(../img/pricing-not-check.svg);
}

.pricing__bottom__card:nth-child(1) .pricing__card__item:nth-child(7):before,
.pricing__bottom__card:nth-child(2) .pricing__card__item:nth-child(7):before {
    content: url(../img/pricing-not-check.svg);
}

.pricing__card__level {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__card__heading {
    margin-top: 9px;
    color: #3f4065;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.pricing__card__price {
    margin-top: 24px;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
}

.pricing__card__link {
    --height: 44px;
    margin-top: 22px;
    color: var(--primary-color);
    border-color: currentColor;
    width: 100%;
    transition: 0.25s;
}

.pricing__card__link:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.pricing__card__list {
    margin-top: 24px;
}

.pricing__card__item {
    display: flex;
    align-items: center;
    color: var(--primary-text-color-desc);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.pricing__card__item + .pricing__card__item {
    margin-top: 18px;
}

.pricing__card__item::before {
    content: url(../img/pricing-check.svg);
    margin-right: 12px;
}

/* Review */
.review {
    padding: 104px 0 52px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review__item {
    display: flex;
    align-items: center;
    column-gap: 115px;
    flex-shrink: 0;
    width: 100%;
}

.review__control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 1.5px solid #ffd1c4;
    background: transparent;
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.25s;
}

.review__control:hover {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.review__item__wrap {
    position: relative;
    width: 274px;
    margin-top: -52px;
    border-radius: 137px;
    flex-shrink: 0;
}

.review__item__wrap::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 350px;
    background: #ffda54;
    border-radius: inherit;
}

.review__item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
}

.review__item__heading {
    line-height: 1.2;
}

.review__item__quote {
    margin-top: 24px;
    width: 553px;
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.56;
}

.review__item__author {
    position: relative;
    margin-top: 34px;
    padding-left: 28px;
    color: #282828;
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.review__item__author::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 50%;
    translate: 0 -50%;
    left: 0;
    background: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    background: var(--primary-color);
}

.review__dot:hover {
    background: var(--primary-color);
}

/* Blog */
.blog {
    padding: 78px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__top__content {
    width: 350px;
    margin-right: 74px;
}

.blog__top__desc {
    width: 350px;
}

.blog__top__link {
    margin-top: 24px;
    color: var(--primary-color);
    border-color: currentColor;
    min-width: 182px;
}

.blog__list {
    display: flex;
    align-items: center;
    column-gap: 48px;
    margin-top: 54px;
}

.blog__media {
    width: 358px;
    padding: 24px 0px 0 36px;
    border-radius: 24px;
    background: #90ccff;
}

.blog__item:nth-child(2) .blog__media {
    background: #ff997e;
}

.blog__item:nth-child(3) .blog__media {
    background: #5bd6e2;
}

.blog__media__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog__media__date {
    color: #fff;
    font-family: var(--heading-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.22;
}

.blog__item__title {
    margin-top: 28px;
    width: 338px;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.55;
}

.blog__item__desc {
    margin-top: 16px;
    width: 351px;
    color: var(--primary-text-color-desc);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.72;
}

/* Footer */
.footer {
    margin-top: 52px;
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 42%;
    padding: 114px 0 148px;
}

.search__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    margin: 34px 0 68px;
    border: 1px solid rgba(255, 91, 46, 0.25);
    border-radius: 99px;
    background: #fff;
    margin-top: 34px;
}

.search__form__input,
.search__form__submit {
    border: none;
    outline: none;
}

.search__form__input {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border: none;
    outline: none;
    border-radius: inherit;

    /* Input */
    color: var(--primary-text-color-desc);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.16;
}

.search__form__input::placeholder {
    color: var(--primary-text-color-desc);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.16;
}

.search__form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: -1px;
    border-radius: 50%;
    background: #ff5b2e;
    transition: 0.25s;
    cursor: pointer;
}

.search__form__submit:hover {
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
}

.footer__heading {
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.12;
}

.social__list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin-top: 16px;
}

.social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #ffffff;
    border-radius: 50%;
    transition: scale .25s;
}

.social__item:hover {
    scale: 1.1;
}

.footer__right {
    flex: 1;
    padding: 52px 0 48px 0;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 58px 137px;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    color: var(--primary-text-color-desc);
    font-size: 1.4rem;
    line-height: 2;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    color: var(--primary-text-color-desc);
    margin: 52px 0 0 22px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    opacity: 0.5;
}

/* End */
