/* Based on project web */

* {
    box-sizing: border-box;
}

:root {
    /* Color */
    --primary-color: #ff5b2e;
    --primary-text-color: #000958;
    --primary-text-color-blur: rgba(0, 9, 88, 0.7);
    --primary-text-color-desc: #656689;
    --primary-text-section-label: #5e6085;
    --primary-bg-color: #fffaf5;

    /* Font */
    --primary-font: "Poppins", sans-serif;
    --heading-font: "Sora", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", serif;
    background: var(--primary-bg-color);
}

/* Common class */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", serif;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-block;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);

    /* Text */
    color: var(--primary-text-color);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 999px;
    border: 1px solid var(--primary-text-color-blur);
}

.btn:hover {
    opacity: 0.9;
}

.btn--primary {
    color: #fff;
    background: var(--primary-color);
    border-color: var(--primary-color);
}

.primary--heading {
    color: var(--primary-text-color);
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.15;
}

.primary--desc {
    color: var(--primary-text-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

.section--heading {
    color: var(--primary-text-color);
    font-family: "Sora", sans-serif;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.19;
}

.section--desc {
    margin-top: 24px;
    color: var(--primary-text-color-desc);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
}

/* Header */
.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__navbar__list {
    display: flex;
    align-items: center;
}

.header__navbar__link,
.header__action__link {
    padding: 8px 18px;
    color: #5e6085;
    font-size: 1.4rem;
    line-height: 1;
}

.header__navbar__link:hover,
.header__action__link:hover {
    color: var(--primary-text-color);
    text-shadow: 1px 0 0 currentColor;
}

.header__action__btn {
    --height: 50px;

    min-width: 118px;
    height: var(--height);
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;
}

.hero__img--wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    background: #fe997b;
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor.bottom {
    left: -58px;
    bottom: 10px;
}

.hero__decor.top {
    top: 16px;
    right: -43px;
}

.hero__img--wrap--small {
    margin-left: -24px;
    margin-bottom: -58px;
    width: 186px;
    height: 244px;
    background: #faa7ad;
    align-self: flex-end;
    border: 2px solid #f7dddf;
}

.hero__list {
    /* Position */
    position: absolute;
    left: 129px;
    bottom: 0;

    width: 250px;
    height: 156px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__list__item {
    display: flex;
    align-items: center;
}

.hero__list__item__thumb {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 10px;
    background: #fec23f;
}

.hero__list__item__info {
    margin-left: 10px;
}

.hero__list__item__title {
    color: #181e52;
    font-family: "Sora", sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero__list__item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background-color: var(--primary-text-color);
    opacity: 0.08;
    border-radius: 10px;
}

.hero__list__horizontal {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 999px;
}

.hero__list__item__thumb.bg--color-c6e2f3 {
    background: #c6e2f3;
}

.hero__content {
    margin-left: 120px;
}

.hero__content__heading {
    width: 517px;
}

.hero__content__desc {
    margin-top: 24px;
    width: 391px;
}

.hero__content__action {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__content__btn {
    --height: 60px;
    min-width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    font-size: 1.6rem;
}

.hero__content__icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fffaf5;
    box-shadow: 4px 3px 10px -1px #bf290066;
    border-radius: 50%;
}

.hero__content__arrow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.hero__content__link {
    margin-left: 24px;
    color: var(--primary-text-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

/* About */
.about {
    margin-top: calc(138px - 61px);
    padding-top: 61px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

.about__label {
    color: var(--primary-text-section-label);
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
}

.about__content__heading {
    width: 446px;
    margin-top: 15px;
}

.about__content__desc {
    width: 431px;
}

.about__check__list {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 54px;
    gap: 36px;
    justify-content: flex-start;
}

.about__check__item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;

    color: #48496a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    transition: box-shadow 0.25s;
}

.about__check__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #ff5d31;
    border-radius: 4px;
    transition: box-shadow 0.25s;
}

.about__check__item:hover::before {
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check__item::after {
    content: url(../img/about-check.svg);
    position: absolute;
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    width: 136px;
    padding: 30px 26px;
    border-radius: 10px;
    background: #5bd6e2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card__title {
    color: #fff;
    font-family: "Sora", sans-serif;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about__card__desc {
    margin-top: 14px;
    color: #c6f4f9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.42;
}

.about__card__img {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    z-index: -1;
    border-radius: 16px;
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
}

.about__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}

.about__wrap--bottom::after {
    content: none;
}

.about__wrap--bottom {
    margin-left: 0;
    width: 458px;
    border-radius: 18px;
    border: 2px solid #fff;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__img--bottom {
    width: 100%;
}

.about__decor__img {
    position: absolute;
}

.about__decor__img:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor__img:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor__img:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor__img:nth-child(4) {
    top: 268px;
    right: -36px;
    /* total right = decor width + spacing + border (3) = 23 + 10 + 3 = 36 => -36px */
}

.about__decor__img:nth-child(5) {
    top: 336px;
    right: 19px;
}

.about__decor__img:nth-child(6) {
    bottom: -54px;
    right: -42px;
}

.about__content__desc--bottom {
    width: 511px;
    margin-bottom: 52px;
}

.tab__list,
.tab__item {
    display: flex;
    align-items: center;
}

.tab__list {
    display: inline-flex;
    position: relative;
    column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content__item__more::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 2px;
    background: var(--primary-color);
    border-radius: 99px;
    opacity: 0.07;
}

.tab__item--active::after {
    width: 95px;
    opacity: 1;
}

.tab__item {
    position: relative;
    column-gap: 12px;
    padding-bottom: 10px;
    cursor: pointer;
}

.tab__icon {
    width: 18px;
}

.tab__title {
    color: #48496a;
    font-family: "Sora", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__content {
    padding: 36px 0;
}

.tab__content__item {
    display: none;
}

.tab__content__item--active {
    display: block;
}

.tab__content__item__desc {
    width: 391px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
}

.tab__content__item__more {
    position: relative;
    margin-top: 32px;
    padding-bottom: 5px;
    display: inline-block;
    color: #ff5d31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
}

.tab__content__item__more::after {
    opacity: 1;
}

/* Services */
.services {
    padding: 68px 0 100px;
    margin-top: 190px;
    background: #fff6ed;
}

.services__top {
    text-align: center;
}

.services__desc {
    color: var(--primary-text-section-label);
    font-family: "Sora", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.services__heading {
    margin-top: 15px;
}

.services__item {
    width: 294px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #fff;
}

.services__item + .services__item {
    margin-top: 24px;
}

.services__item__heading {
    position: relative;
    color: var(--primary-text-color);
    font-family: var(--heading-font);
    font-size: 2.2rem;
    font-weight: 600;
    padding-left: 12px;
}

.services__item__heading::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background: linear-gradient(90deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.services__item__desc {
    margin-top: 18px;
    color: var(--primary-text-color-desc);
    font-family: var(--primary-font);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
}

.services__item__link {
    margin-top: 24px;
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.servces__item__span {
    color: #34396a;
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
}

.services__bottom {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin-top: 70px;
    column-gap: 70px;
}

.services__media {
    position: relative;
    margin-top: 18px;
}

.services__media::after {
    content: "";
    height: 350px;
    position: absolute;
    bottom: 0;
    left: 16px;
    right: 16px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.services__col__img {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
}

.services__btn__wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.services__btn {
    min-width: 214px;
    color: var(--primary-color);
    border-color: currentColor;
    transition: box-shadow 0.25s;
}

.services__btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}